body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: rgb(96, 12, 176);
}

main{
  min-height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main div{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

main div h1{
  color:white;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

main div table{
  color: white;
  border-collapse: collapse;
  border: 1px solid yellow;
}

main div table td{
  border: 1px solid yellow;
}

main div a{
  background-color: rgb(255, 230, 0);
  color:rgb(114, 0, 220);
  font-weight: 900;
  border-radius: 9999px;
  font-size: 20px;
  cursor:pointer;
  padding: 10px 20px;
  text-decoration: none;
}